<!DOCTYPE html>
<html ng-app="stt">

<head>
  <title>AngularJS: STT Application</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body ng-controller="MainController as mc">
  <div class="container">
    <h2>AngularJS: STT Application</h2>
    <div class="alert alert-info">
      <stop-record></stop-record>
      <record-audio></record-audio>
    </div>
    <div class="alert alert-info">
      <label>Voice Listener</label>
      <textarea rows="5" id="resultsText" class="form-control"></textarea>
    </div>
    <div class="alert alert-danger">
      <canvas id="canvas" width="960" height="368"></canvas>
      <div id="confusion-networks">
        <div id="canvas-placeholder">Alternative Words</div>
        <input id="vslider" type="range" orient="vertical">
      </div>
      <input id="hslider" type="range" style="display:none;">
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="node_modules/angular/angular.min.js"></script>

  <!-- STT MODULE -->
  <script src="public/stt/index.module.js"></script>
  
  <!-- VIEWS -->
  <script src="public/stt/views/views.module.js"></script>
  <script src="public/stt/views/views.factory.js"></script>
  <script src="public/stt/views/recordbutton.js"></script>
  <script src="public/stt/views/stopbutton.js"></script>
  <script src="public/stt/views/toast.js"></script>
  <script src="public/stt/views/show-error.js"></script>
  
  <!-- UTILS -->
  <script src="public/stt/utils/utils.module.js"></script>
  <script src="public/stt/utils/utils.factory.js"></script>
  
  <!-- SOCKET -->
  <script src="public/stt/socket/socket.module.js"></script>
  <script src="public/stt/socket/socket.factory.js"></script>
  
  <!-- MODELS -->
  <script src="public/stt/models/models.module.js"></script>
  <script src="public/stt/models/models.factory.js"></script>

  <!-- MICROPHONE -->
  <script src="public/stt/microphone/Microphone.js"></script>
  <script src="public/stt/microphone/microphone.module.js"></script>
  <script src="public/stt/microphone/microphone.factory.js"></script>
  <script src="public/stt/microphone/handle-microphone.js"></script>
  <script src="public/stt/microphone/displaymeta.factory.js"></script>

  <!-- Microphone: BIN -->
  <script src="public/stt/microphone/bin/Bin.js"></script>
  <script src="public/stt/microphone/bin/bin.module.js"></script>
  <script src="public/stt/microphone/bin/bin.factory.js"></script>
  
  <!-- Microphone: Scene -->
  <script src="public/stt/microphone/scene/Scene.js"></script>
  <script src="public/stt/microphone/scene/scene.module.js"></script>
  <script src="public/stt/microphone/scene/scene.factory.js"></script>
  
  <!-- Microphone: Word Alternative -->
  <script src="public/stt/microphone/word-alternative/WordAlternative.js"></script>
  <script src="public/stt/microphone/word-alternative/word-alternative.module.js"></script>
  <script src="public/stt/microphone/word-alternative/word-alternative.factory.js"></script>

  <!-- Note: Remove this file later -->
  <!-- <script src="public/stt/views/displaymetadata.js"></script> -->
</body>

</html>
